.navigate-image-logo {
    width: 100px;
    height: 50px;
}
.navbar-elements {
    margin-right: 10px;
    height: 10px;
}

.navbar-style {
    background-color: #eecb9a;
    z-index: 2;
}

.navigate-text {
    font-style: normal;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

.navigate-title {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

