.users-page-title {
    font-style: normal;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

.card-body-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
